@font-face {
	font-family: "CaskaydiaCove";
	src: url("/fonts/CaskaydiaCoveNerdFont/regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CaskaydiaCove";
	src: url("/fonts/CaskaydiaCoveNerdFont/italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "CaskaydiaCove";
	src: url("/fonts/CaskaydiaCoveNerdFont/bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
