footer {
	font-size: 0.875rem;
	line-height: calc(1.25 / 0.875);
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;

	@extend .text-dark-4;

	a {
		text-decoration: none;

		@extend .text-light-4;

		&:hover {
			@extend .text-gray;
		}
	}

	ul {
		display: flex;
		gap: 1rem;
		list-style-type: none;
		padding-left: 0rem;
		margin: 0rem 0rem 0rem 0rem;
	}
}
